################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsMessageWithConsoleApp/.vs
/WindowsMessageWithConsoleApp/WindowsMessageWithConsoleApp/bin/Debug
/WindowsMessageWithConsoleApp/WindowsMessageWithConsoleApp/obj
/WindowsMessageWithDotNET/.vs/WindowsMessageWithDotNET
/WindowsMessageWithDotNET/ConsoleApp/bin/Debug
/WindowsMessageWithDotNET/ConsoleApp/obj
/WindowsMessageWithDotNET/ConsoleApplication1/Debug
/WindowsMessageWithDotNET/ConsoleApplication1/x64/Debug
/WindowsMessageWithDotNET/Debug
/WindowsMessageWithDotNET/x64/Debug
/.vs
/WindowsDrivers/ListAllDeviceInterface/.vs
/WindowsDrivers/ListAllDeviceInterface/ConsoleCpp/x64/Debug
/WindowsDrivers/ListAllDeviceInterface/WinFormsApp1/bin
/WindowsDrivers/ListAllDeviceInterface/WinFormsApp1/obj
/WindowsDrivers/ListAllDeviceInterface/x64/Debug
